$orange: #f26522;
$bright-orange: #f16020;
$light-green: #87a6ad;

@import "../../node_modules/font-awesome/scss/font-awesome";

@font-face {
  font-family: LatoRegular;
  src: url(../../src/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: LatoBold;
  src: url(../../src/fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: GalanoBold;
  src: url(../../src/fonts/GalanoBold.otf);
}

@font-face {
  font-family: MyriadPro;
  src: url(../../src/fonts/MyriadPro.otf);
}